@page "/journal/{journalId:int}/SocioPedagogicalCharacteristics/{pageId:int}"
@rendermode InteractiveServer

@using Contracts.AcademicYears
@using Contracts.Groups
@using Contracts.Journal.SocioPedagogicalCharacteristics
@using Contracts.Mappers
@using Contracts.Mappers.Journal
@using Frontend.Services

@inject HttpClient HttpClient
@inject JournalState JournalState

<PageTitle>Социально-педагогическая характеристика</PageTitle>

<h3 class="d-flex justify-content-center">СОЦИАЛЬНО-ПЕДАГОГИЧЕСКАЯ ХАРАКТЕРИСТИКА</h3>

@if (_pageData == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    @if (_group == null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <h3 class="d-flex justify-content-center">
            учебной группы @_group.Number.ToString()
            @if (_academicYears != null)
            {
                @(" в ")
                <select @bind="_pageData.Attributes.AcademicYearId" @bind:after="UpdateAttributes" class="input">
                    <option value="">(нет)</option>
                    @foreach (var academicYear in _academicYears)
                    {
                        <option @key="academicYear.Id" value="@academicYear.Id">
                            @academicYear.StartYear / @academicYear.EndYear
                        </option>
                    }
                </select>
                @(" уч. году ")
            }
        </h3>
    }

    <p>
        1. Всего студентов
        <input type="number" min="0" @bind="_pageData.TotalStudents" @bind:after="Update" class="input underline" />
    </p>
    <p>Из них</p>
    <p>
        2. Девушки
        <input type="number" min="0" @bind="_pageData.FemalesCount" @bind:after="Update" class="input underline" />
    </p>
    <p>
        3. Юноши
        <input type="number" min="0" @bind="_pageData.MalesCount" @bind:after="Update" class="input underline" />
    </p>
    <p>
        4. Члены ОО "БРСМ"
        <input type="number" min="0" @bind="_pageData.BRSMMembersCount" @bind:after="Update" class="input underline" />
    </p>
    <p>
        5. Дети-сироты, (до 18 лет)
        <input type="number" min="0" @bind="_pageData.OrphansUnderagesCount" @bind:after="Update" class="input underline" />
    </p>
    <p>
        6. Дети, оставшиеся без попечения родителей (до 18 лет)
        <input type="number" min="0" @bind="_pageData.StudentsWithoutParentalCareUnderagesCount" @bind:after="Update" class="input underline" />
    </p>
    <p>
        7. Лица из числа детей-сирот <br />
        и детей, оставшихся без попечения родителей (18-23 года)
        <input type="number" min="0" @bind="_pageData.OrphansOrStudentsWithoutParentalCareAdults" @bind:after="Update" class="input underline" />
    </p>
    <p>
        8. Студенты с особенностями психофизического развития
        <input type="number" min="0" @bind="_pageData.StudentsWithSpecialPsychophysicalDevelopmentNeeds" @bind:after="Update" class="input underline" />
    </p>
    <p>
        9. Имеющие родителей-инвалидов 1, 2 группы
        <input type="number" min="0" @bind="_pageData.StudentsWithDisabledParentsOfGroups1and2" @bind:after="Update" class="input underline" />
    </p>
    <p>
        10. Из многодетных семей
        <input type="number" min="0" @bind="_pageData.StudentsFromLargeFamilies" @bind:after="Update" class="input underline" />
    </p>
    <p>
        11. Из неполных семей
        <input type="number" min="0" @bind="_pageData.StudentsFromSingleParentFamilies" @bind:after="Update" class="input underline" />
    </p>
    <p>
        12. Из регионов, пострадавших от катастрофы на Чернобыльской АЭС
        <input type="number" min="0" @bind="_pageData.StudentsFromRegionsAffectedByChernobylDisaster" @bind:after="Update" class="input underline" />
    </p>
    <p>
        13. Из семей, отселенных из зон радиоактивного загрязнения
        <input type="number" min="0" @bind="_pageData.StudentsFromFamiliesRelocatedFromAreasOfRadioactivePollution" @bind:after="Update" class="input underline" />
    </p>
    <p>
        14. Иногородних
        <input type="number" min="0" @bind="_pageData.NonResidentStudents" @bind:after="Update" class="input underline" />
    </p>
    <p>
        15. Проживают с родителями
        <input type="number" min="0" @bind="_pageData.StudentsLivingWithParents" @bind:after="Update" class="input underline" />,
        в общежитии
        <input type="number" min="0" @bind="_pageData.StudentsLivingInADormitory" @bind:after="Update" class="input underline" />, <br />
        у родственников
        <input type="number" min="0" @bind="_pageData.StudentsLivingWithRelatives" @bind:after="Update" class="input underline" />,
        на частных квартирах
        <input type="number" min="0" @bind="_pageData.StudentsLivingInPrivateApartments" @bind:after="Update" class="input underline" />
    </p>
    <p>
        16. Другие сведения <br />
        <input @bind="_pageData.OtherInformation" @bind:after="Update" class="input fullwidth underline" />
    </p>
}

@code {
    [Parameter]
    public int PageId { get; set; }

    [Parameter]
    public int JournalId { get; set; }

    private SocioPedagogicalCharacteristicsResponse? _pageData;

    private GroupResponse? _group;

    private List<AcademicYearResponse>? _academicYears;

    protected override async Task OnInitializedAsync()
    {
        JournalState.Initialize(JournalId, PageId);

        _pageData = await HttpClient.GetFromJsonAsync<SocioPedagogicalCharacteristicsResponse>("api/journal/sociopedagogicalcharacteristics/" + PageId.ToString());
        _group = await HttpClient.GetFromJsonAsync<GroupResponse>("api/group/getbyjournal/" + JournalId.ToString());
     
        var getAcademicYearsUri = "api/academicyear/getsinceyear/";
        if (_group != null)
            _academicYears = await HttpClient.GetFromJsonAsync<List<AcademicYearResponse>>(getAcademicYearsUri + _group.AdmissionYear.ToString());
        else
            _academicYears = await HttpClient.GetFromJsonAsync<List<AcademicYearResponse>>(getAcademicYearsUri);
    }

    private async Task Update()
    {
        Console.WriteLine("Update socio pedagogical characteristics");

        var request = _pageData!.ToRequest();
        var response = await HttpClient.PutAsJsonAsync<UpdateSocioPedagogicalCharacteristicsRequest>
            ("api/journal/sociopedagogicalcharacteristics/" + _pageData!.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            //TODO
        }
    }

    private async Task UpdateAttributes()
    {
        var request = new UpdateSocioPedagogicalCharacteristicsPageAttributesRequest(_pageData!.Attributes.AcademicYearId);
        var response = await HttpClient.PutAsJsonAsync<UpdateSocioPedagogicalCharacteristicsPageAttributesRequest>
            ("api/journal/sociopedagogicalcharacteristics/updateattributes/" + _pageData!.Attributes.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            //TODO
        }
    }
}

<style>
    .input {
        border: none;
        outline: none;
        background: transparent;
    }

    .underline {
        border-bottom: 1px solid #000;
    }

    .fullwidth {
        width: 100%;
    }
</style>