@page "/journal/{journalId:int}/StudentList/{pageId:int}"
@rendermode InteractiveServer

@using Contracts.Journal
@using Contracts.Journal.ContactPhones
@using Contracts.Journal.PersonalizedAccountingCards
@using Contracts.Journal.StudentList
@using Contracts.Mappers.Journal
@using Contracts.Students
@using Frontend.Services

@inject HttpClient HttpClient
@inject JournalState JournalState

<PageTitle>Список студентов</PageTitle>

<h3 class="d-flex justify-content-center">СПИСОК СТУДЕНТОВ</h3>

@if (_pageData == null || _students == null || _cardIds == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">№</th>
                <th class="text-center">Фамилия, имя отчество (полностью)</th>
                <th class="text-center">
                    Контактный<br/>
                    телефон
                </th>
                <th class="text-center">
                    № страни-<br/>
                    цы персо-<br/>
                    нифици-<br/>
                    рованного<br/>
                    учета
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in _pageData.StudentList)
            {
                <tr>
                    <td>
                        <input type="number" min="0" @bind="record.Number" @bind:after='async () => await Update(record)' class="input fullwidth" />
                    </td>
                    <td>
                        <select @bind="record.StudentId" @bind:after="async () => await Update(record)" class="input fullwidth">
                            <option value="">(нет)</option>
                            @foreach (var student in _students)
                            {
                                @if (record.StudentId == student.Id || !_pageData.StudentList.Any(a => a.StudentId == student.Id))
                                {
                                    <option @key="student.Id" value="@student.Id">@student.LastName @student.FirstName @student.MiddleName</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <p>
                            @if (record.StudentId != null)
                            {
                                var phoneNumber = _students.FirstOrDefault(s => s.Id == record.StudentId)!.PhoneNumber;
                                @if (phoneNumber != null)
                                {
                                    @(phoneNumber)
                                }
                            }
                        </p>
                    </td>
                    <td>
                        <select @bind="record.PersonalizedAccountingCardId" @bind:after="async () => await Update(record)" class="input fullwidth">
                            <option value="">(нет)</option>
                            @foreach (var card in _cardIds)
                            {
                                @if (record.PersonalizedAccountingCardId == card.Id || !_pageData.StudentList.Any(a => a.PersonalizedAccountingCardId == card.Id))
                                {
                                    <option @key="card.Id" value="@card.Id">@card.Id</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <button @onclick="async () => await Delete(record)" class="btn btn-close" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="Add" class="btn btn-outline-primary">Добавить строку</button>
}

@code {
    [Parameter]
    public int PageId { get; set; }

    [Parameter]
    public int JournalId { get; set; }

    private StudentListPageResponse? _pageData;

    private List<StudentResponse>? _students;

    private List<PersonalizedAccountingCardIdResponse>? _cardIds;

    protected override async Task OnInitializedAsync()
    {
        JournalState.Initialize(JournalId, PageId);

        _pageData = await HttpClient.GetFromJsonAsync<StudentListPageResponse>("api/journal/studentlist/" + PageId.ToString());
        _students = await HttpClient.GetFromJsonAsync<List<StudentResponse>>("api/student/getbyjournal/" + JournalId.ToString());
        _cardIds = await HttpClient.GetFromJsonAsync<List<PersonalizedAccountingCardIdResponse>>
            ("api/journal/personalizedaccountingcard/getidsbyjournal/" + JournalId.ToString());
    }

    private async Task Update(StudentListRecordResponse record)
    {
        Console.WriteLine("Update student list");

        var request = record.ToRequest();
        var response = await HttpClient.PutAsJsonAsync<UpdateStudentListRecordRequest>("api/journal/studentlist/" + record.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            //TODO
        }
    }

    private async Task Add()
    {
        Console.WriteLine("Add student list");

        var request = new CreateStudentListRecordRequest(null, null, null, PageId);
        var response = await HttpClient.PostAsJsonAsync<CreateStudentListRecordRequest>("api/journal/studentlist", request);

        if (response.IsSuccessStatusCode)
        {
            var addedRecord = await response.Content.ReadFromJsonAsync<StudentListRecordResponse>();
            _pageData!.StudentList.Add(addedRecord!);
        }
    }

    private async Task Delete(StudentListRecordResponse record)
    {
        Console.WriteLine("Delete student list");

        var response = await HttpClient.DeleteAsync("api/journal/studentlist/" + record.Id);

        if (response.IsSuccessStatusCode) _pageData!.StudentList.Remove(record);
    }
}

<style>
    .input {
        border: none;
        outline: none;
        background: transparent;
    }

    .fullwidth {
        width: 100%;
    }
</style>