@page "/journal/{journalId:int}/title"

@using Contracts.Journal

@inject HttpClient HttpClient

<PageTitle>Титульная страница</PageTitle>

<h3>ЖУРНАЛ КУРАТОРА УЧЕБНОЙ ГРУППЫ</h3>

@if (_pageData == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <p>Группа № @_pageData.GroupNumber</p>
    <p>Год поступления @_pageData.AdmissionYear</p>
    <p>Куратор @if (_pageData.Curator != null)
        @(_pageData.Curator.LastName + ' ' + _pageData.Curator.FirstName + ' ' + _pageData.Curator.MiddleName)
    </p>
    <p>Кафедра @_pageData.DepartmentName</p>
    <p>Факультет @_pageData.FacultyName</p>
}

@code {
    [Parameter]
    public int JournalId { get; set; }

    private TitlePageResponse? _pageData;

    protected override async Task OnInitializedAsync()
    {
        _pageData = await HttpClient.GetFromJsonAsync<TitlePageResponse>("api/journal/" + JournalId.ToString() + "/titlepage/");
    }
}
